@import "@/styles/font.css";
@import "tailwindcss";

@theme {
    /* break-points */
    --breakpoint-xx: 21rem;
    --breakpoint-xs: 24rem;
    --breakpoint-sm: 36rem;

    /* fonts */
    --font-dana-lt: "dana light", sans-serif;
    --font-dana-rg: "dana regular", sans-serif;
    --font-dana-md: "dana medium", sans-serif;
    --font-dana-bl: "dana bold", sans-serif;

    /* box-shadow */
    --shadow-primary: 0px 0 25px 0 rgba(0, 0, 0, 0.1);

    /* font-size */
    --text-title: 1.5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply font-dana-md text-neutral-700;
}

@utility container {
    @apply mx-auto px-3;
}

@layer base {
    h1 {
        @apply font-dana-bl text-[1.75rem] leading-10 lg:text-5xl lg:leading-16;
    }

    h2 {
        @apply font-dana-bl text-xl leading-10 lg:text-2xl lg:leading-13;
    }

    h3 {
        @apply font-dana-bl text-lg leading-10 lg:text-xl lg:leading-12;
    }

    p {
        @apply text-sm xx:text-base;
    }
}

@layer components {
    .info-section-text {
        @apply inline-block text-gray-500 text-sm relative after:block after:absolute after:-left-46 after:top-1/2 after:bg-amber-400 after:w-40 after:h-[1px];
    }
    .info-section-title {
        @apply text-2xl text-black/90 font-dana-bl mt-2 md:text-3xl lg:text-4xl;
    }
    .hover-links {
        @apply border px-4 py-2 rounded-sm transition-all duration-150 hover:bg-amber-400 hover:text-black;
    }
}