@import "./dana-font-face.css";
@import "tailwindcss";

@theme {
    /* break-points */
    --breakpoint-xs: 24rem;
    --breakpoint-sm: 36rem;

    /* fonts */
    --font-dana-lt: "dana light", sans-serif;
    --font-dana-rg: "dana regular", sans-serif;
    --font-dana-md: "dana medium", sans-serif;
    --font-dana-bl: "dana bold", sans-serif;

    /* colors */
}

body {
    @apply font-dana-rg;
}

@utility container {
    @apply mx-auto px-2;
}

@layer base {
    h1 {
        @apply font-dana-bl text-[1.75rem] leading-10 lg:text-5xl lg:leading-16;
    }
    h2 {
        @apply font-dana-bl text-xl leading-10 lg:text-2xl lg:leading-13;
    }
    h3 {
        @apply font-dana-bl text-lg leading-10 lg:text-xl lg:leading-12;
    }
}

/*@utility components {*/

/*}*/